@model IEnumerable<Photo>



<p class="lead">Всего фото: @ViewBag.Count </p>
<div class="row mt-3">
    @foreach (var item in Model!)
    {
        <div class="col-auto ms-2 mt-3">
            <img src="@item.ThumbnailUrl" alt="Фото"/>
        </div>
    }
</div>