@{
    ViewBag.Title = "Главная";
}


<div>
    <p class="subheader">Практическая часть</p>
    <p>
        Создать приложение ASP.NET Core MVC. Стилизацию приложения выполняйте при помощи фреймворка Bootstrap. Примените страницу компоновки. Не забывайте создавать модель/модели для решения задачи. По GET-запросу /Home/Index выводите этот текст.
    </p>
    <p>
        Требуется получать коллекцию пользователей используя <a target="_blank" href="https://jsonplaceholder.typicode.com/">ресурс</a> по запросу <a target="_blank" href="https://jsonplaceholder.typicode.com/users/">https://jsonplaceholder.typicode.com/users/</a>. Сохранять в коллекции поля: id, name, username, email, phone, website. Коллекцию выводить в компонент представления, коллекцию получайте сервисом. Компонент и сервис рекомендуется сделать асинхронными.
    </p>
    <ul class="taskList">
        <li>По кнопке на отдельной странице вывести все посты пользователя (запрос вида <a target="_blank" href="https://jsonplaceholder.typicode.com/users/2/posts">https://jsonplaceholder.typicode.com/users/2/posts</a> где 2 - идентификатор пользователя), вывод при помощи компонента представления, в этом же компоненте выводить количество постов, минимальную, среднюю и максимальную длина текста (поле body) в символах</li>
        <li>По кнопке на отдельной странице вывести фото из альбома пользователя (запрос вида <a target="_blank" href="https://jsonplaceholder.typicode.com/albums/1/photos">https://jsonplaceholder.typicode.com/albums/1/photos</a>  где 1 – идентификатор пользователя, выводить поле thumbnailUrl), в этом же компоненте выводить количество фотографий в альбоме (это обработка компонента)</li>
        <li>По кнопке на отдельной странице вывести список дел пользователя (запрос вида <a target="_blank" href="https://jsonplaceholder.typicode.com/users/3/todos">https://jsonplaceholder.typicode.com/users/3/todos</a> где 3 – идентификатор пользователя), в этом же компоненте выводить количество дел, количество завершенных и не завершенных дел</li>
    </ul>
    <p>
        Разработайте сервис логирования, сохраняющий в файле application.log в папке App_Data факты создания и редактирования сведений о клиентах: момент времени операции с точностью до секунды, собственно данные клиента (включая закодированный пароль).
    </p>
    <p>
        Разработайте глобальный фильтр исключений – сервис с внедрением зависимостей. Параметры исключений записывайте в файл журнала при помощи сервиса логирования.
    </p>
    <p class="subheader">Дополнительно</p>
    <p>
        Запись занятия можно скачать по <a class="link" target="_blank" href="https://cloud.mail.ru/public/kCVA/44Musvtkt">этой ссылке</a>.
        Материалы занятия в этом же архиве.
    </p>
</div>